.boton_personalizado:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  transition: height 0.5s ease;
}
.boton_personalizado2:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  transition: height 0.5s ease;
}
